.footer {
  background-color: #5e2b97;
  padding: 40px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  min-height: 100px;
}

.footer p {
  margin: 10px 0;
}

.footer-contact {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap; 
}

.footer-contact p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 0;
  white-space: nowrap; 
}

.footer-contact a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-contact a:hover {
  color: #a08ec5;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.9rem;
  text-align: center;
}

body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

@media (max-width: 600px) {
  .footer-contact {
    flex-direction: column; 
    gap: 10px;
  }
}
