.highlights {
  padding: 60px 40px;
  margin: 25px auto;  
  width: 80%;  
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 12px rgba(78, 30, 148, 0.2);
  text-align: center;
}

.highlights h2 {
  font-size: 2.5rem;
  color: #5e2d91;
  margin-bottom: 2rem;
  font-weight: bold;
}

.highlight-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.highlight-card {
  background-color: #f0ebfc;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  width: 220px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.highlight-card:hover {
  transform: scale(1.05);
}

.highlight-card h3 {
  font-size: 2rem;
  color: #5e2d91;
  margin-bottom: 0.5rem;
}

.highlight-card p {
  font-size: 1.1rem;
  color: #333;
}
